body {
  background-image: url("https://s3.amazonaws.com/shecodesio-production/uploads/files/000/137/048/original/mountain.jpg?1722702562");
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  color: #00254b;
}
section {
  background-color: #0581b1;
  border-radius: 10px;
  width: 700px;
  padding: 20px;
  margin: 50px auto;
  
}
.form-place {
  margin-left: 50px;
  margin-bottom: 15px;
}
.search-box {
  width: 450px;
  padding: 13px;
  border: none;
  background-color: white;
  margin-right: 5px;
}
.search-button {
  width: 80px;
  padding: 13px;
  border: none;
  background-color: white;
  border-radius: 15px;
}
.search-button:hover {
  background-color: #00254b;
  color: white;
}
.details {
  display: flex;
  justify-content: space-between;
}
h2 {
  font-size: 60px;
  margin-bottom: 20px;
  margin-top: 20px;
}
::placeholder {
  font-size: 15px;
}
.search-button {
  font-size: 15px;
}
h1 {
  margin-bottom: 30px;
  font-size: 35px;
}
p {
  margin-bottom: 30px;
  font-size: 20px;
}
a {
  color: white;
}
footer {
  font-size: 15px;
  text-align: center;
  margin-top: 60px;
}
strong {
  color: white;
}
.weather-condition {
  font-size: 40px;
  margin-right: 15px;
  margin-top: 5px;
}
.icon {
  width: 200px;
}

.forecast-day{
  font-size: 30px;
  margin-top: 15px;
  
  color: rgb(241, 177, 92);
  text-align: center;
}
.forecast-icon{
  font-size: 30px;
  margin-top: 10px;
  text-align: center;
  
  
}
.forecast-value{
  font-size: 20px;
  margin-top: 10px;
  
}
.weather-forecast{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-bottom: 15px;
  
}
.weather-lower-range{
  margin-left: 20px;
}
.weather-upper-range{
  margin-right: -10px;
}
